In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("nfl-elo/nfl_elo_latest.csv")

In [4]:
df.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
0,2019-09-05,2019,0,NaN,CHI,GB,1588.897931,1455.131370,0.758449,0.241551,...,0.640182,0.359818,-36.627083,74.729307,153.799734,179.824881,1532.560287,1547.089310,3.0,10.0
1,2019-09-08,2019,0,NaN,JAX,KC,1455.249073,1602.077427,0.384370,0.615630,...,0.415645,0.584355,88.354740,433.187480,163.488868,242.949378,1461.728341,1629.568396,26.0,40.0
2,2019-09-08,2019,0,NaN,CAR,LAR,1519.378772,1598.015666,0.480385,0.519615,...,0.475030,0.524970,49.375757,64.164228,164.522141,145.308064,1500.520997,1603.294491,27.0,30.0
3,2019-09-08,2019,0,NaN,MIN,ATL,1538.423954,1520.315825,0.617372,0.382628,...,0.592845,0.407155,127.861581,210.622686,170.578795,228.546720,1562.098920,1500.092161,28.0,12.0
4,2019-09-08,2019,0,NaN,MIA,BAL,1415.178762,1570.539249,0.372816,0.627184,...,0.387250,0.612750,21.076863,422.479782,146.838363,152.862017,1346.716851,1565.711613,10.0,59.0

## Mahomes

Mahomes = df.loc[(df["qb1"] == "Patrick Mahomes") | (df["qb2"] == "Patrick Mahomes")]

In [33]:
Mahomes1 = df.loc[df["qb1"] == "Patrick Mahomes"]
Mahomes2 = df.loc[df["qb2"] == "Patrick Mahomes"]

In [56]:
Mahomes1["qb1_game_value"]

37     416.952636
76     136.977356
85     168.827079
188    154.611932
211    278.961303
243    131.774178
262    438.446627
264    401.937351
266           NaN
Name: qb1_game_value, dtype: float64

In [57]:
Mahomes2["qb1_game_value"]

1       88.354740
27      31.103294
56     243.742491
92     -65.195637
136    171.385811
161     -5.187189
205     37.476330
238     41.313655
Name: qb1_game_value, dtype: float64

In [58]:
mahomesQbScore1 = Mahomes1[["date","qb1_value_pre","qb1_value_post","qb1_game_value","qbelo_prob1","qbelo1_post"]]
mahomesQbScore2 = Mahomes2[["date","qb2_value_pre","qb2_value_post","qb2_game_value","qbelo_prob2","qbelo2_post"]]
mahomesQbScore1.columns = ["date","qb_value_pre","qb_value_post","qb_game_value","qbelo_prob","qbelo_post"]
mahomesQbScore2.columns = ["date","qb_value_pre","qb_value_post","qb_game_value","qbelo_prob","qbelo_post"]

In [59]:
mahomesQbScore = pd.concat([mahomesQbScore1,mahomesQbScore2],sort=False).sort_values("date")

In [60]:
mahomesQbScore

,date,qb_value_pre,qb_value_post,qb_game_value,qbelo_prob,qbelo_post
1,2019-09-08,221.811811,242.949378,433.187480,0.584355,1629.568396
27,2019-09-15,242.949378,260.520614,418.661745,0.693930,1646.498235
37,2019-09-22,260.520614,276.163817,416.952636,0.690695,1656.921069
56,2019-09-29,276.163817,276.950817,284.033820,0.673727,1666.854640
76,2019-10-06,276.950817,262.953471,136.977356,0.823315,1630.380277
85,2019-10-13,262.953471,253.540832,168.827079,0.701878,1599.073256
92,2019-10-17,253.540832,244.117918,159.311692,0.635070,1621.581832
136,2019-11-10,244.117918,263.981019,442.748930,0.639138,1603.704578
161,2019-11-18,263.981019,256.628440,190.455233,0.679486,1616.287759
188,2019-12-01,256.628440,246.426790,154.611932,0.833904,1626.499557
205,2019-12-08,246.426790,245.004986,232.208750,0.367891,1653.962001
211,2019-12-15,245.004986,248.400617,278.961303,0.777859,1666.270247
238,2019-12-22,248.400617,258.397787,348.372312,0.630062,1688.835144
243,2019-12-29,258.397787,245.735426,131.774178,0.863060,1694.568993
262,2020-01-12,245.735426,265.006546,438.446627,0.826138,1703.995494
264,2020-01-19,265.006546,278.699626,401.937351,0.693796,1718.290032
266,2020-02-02,278.699626,NaN,NaN,0.630309,NaN

In [26]:
Garoppolo = df.loc[(df["qb1"] == "Jimmy Garoppolo") | (df["qb2"] == "Jimmy Garoppolo")]

In [27]:
Garoppolo.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
10,2019-09-08,2019,0,NaN,TB,SF,1444.772669,1422.631825,0.622841,0.377159,...,0.545569,0.454431,-75.782122,68.893159,145.944115,134.650411,1413.887149,1508.870560,17.0,31.0
24,2019-09-15,2019,0,NaN,CIN,SF,1425.507827,1457.756782,0.546993,0.453007,...,0.466439,0.533561,135.873276,277.101753,139.900640,148.895545,1382.110291,1538.583339,17.0,41.0
44,2019-09-22,2019,0,NaN,SF,PIT,1493.503009,1538.911743,0.528164,0.471836,...,0.786794,0.213206,121.493001,80.205903,146.155291,79.026162,1544.804736,1516.924959,24.0,20.0
77,2019-10-07,2019,0,NaN,SF,CLE,1508.556760,1488.359751,0.620209,0.379791,...,0.632157,0.367843,154.530466,-190.808101,146.992808,107.985857,1568.561683,1500.450003,31.0,3.0
87,2019-10-13,2019,0,NaN,LAR,SF,1589.309361,1533.180585,0.667583,0.332417,...,0.616576,0.383424,-51.941405,158.957585,147.133474,148.189286,1552.113732,1602.373539,7.0,20.0